/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style start */
body {
  background: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* shared style end */

/* nav bar start */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-logo {
  width: 135px;
  height: 82px;
}
.nav-item ul {
  display: flex;
  gap: 48px;
}
.nav-item li {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  color: #8987a1;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.nav-item .home {
  color: #252432;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
a:active {
  color: #252432;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.nav-cart {
  display: flex;
  gap: 10px;
}
.nav-cart img {
  width: 24px;
  height: 24px;
}
.nav-cart .nav-cart-text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* nav bar end */

/* banner start */
.banner {
  display: flex;
  align-items: end;
  margin: 80px 0;
}
.banner .banner-content {
  width: 50%;
}
.banner-title {
  color: #000;
  font-family: "Noto Serif", serif;
  font-size: 4.063rem;
  font-weight: 700;
}
.banner-title .extra-color {
  color: #e95a08;
  font-family: "Noto Serif";
  font-size: 4.063rem;
  font-weight: 700;
}
.banner-content .banner-desription {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  margin-top: 13px;
}
.banner .banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
  height: 100%;
}
/* banner end */

/* plants section start */
.plant {
  margin: 50px 0;
}
.plants-content {
  text-align: center;
}
.plants-content-title {
  color: #000;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.plants-content-title .extra-color {
  color: #e95a08;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.plants-description {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 888px;
  margin: 0 auto;
  padding-top: 16px;
}
.plants-images {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 30px 20px; */
  gap: 30px 10px;
}
.plants-one .images {
  height: 322.938px;
}
.plants-one .images img {
  width: 100%;
  height: 100%;
}
.plants-images .plants-title {
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  padding-top: 30px;
}
.plants-images .plants-price {
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  padding-top: 20px;
}
.plants-images .btn {
  display: flex;
  height: 50px;
  padding: 26px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #e95a08;
  margin-top: 30px;
}
.plants-images button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #e95a08;
}
/* plants section end */

/* flower aad plants section start */
.flower {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 120px 0;
}
.flower-image {
  width: 540px;
  position: relative;
}
.flower-image img {
  width: 100%;
  height: 100%;
}
.flower-image .trusted {
  width: 286px;
  height: 286px;
  position: absolute;
  left: 63%;
  bottom: 75%;
}
.flower-text {
  width: 540px;
}
.flower-text-title {
  color: #000;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
.flower-text-ul {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 30px;
  margin-left: 30px;
  border: 3px solid;
}
/* flower and plants sectin end */

/* latest section start */
.latest-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 100px;
  gap: 20px;
}
.img-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.img-2 {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}
.img-3 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
.latest-images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image-box {
  position: relative;
  /* width: 250px;
  height: 150px; */
  border-radius: 12px;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-text .p {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 16px;
  font-weight: 700;
  border: 3px solid red;
}
.img-text .par {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 30px;
  font-weight: 700;
}
.img-text a {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/* latest section end */

/* bunch section start */
.bunch-text {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.bunch-input {
  display: flex;
  margin-top: 23px;
}
.bunch-input input {
  width: 644px;
  height: 50px;
  padding: 8px 20px;
  border: none;
}
.bunch-input button {
  width: 186px;
  height: 50px;
  background: #e95a08;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
.bunch-text .bunch-text-title {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: 700;
}
/* bunch section end */

/* footer section start */
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid black;
  margin: 50px 0;
  gap: 48px;
}
.footer-first-text {
  border: 3px solid green;
}
.footer-first-text img {
  width: 135px;
  height: 82px;
}
.footer-first-text p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  padding-top: 16px;
  width: 359px;
}
.footer-second-text {
  border: 3px solid red;
}
.footer-second-text ul li {
  list-style: none;
  padding-bottom: 32px;
}
.footer-second-text a {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer-third-text {
  border: 3px solid yellow;
}
.footer-third-text ul li {
  list-style: none;
  padding-bottom: 32px;
}
.footer-third-text a {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer-fifth-text {
  border: 3px solid orange;
  display: flex;
  justify-content: space-between;
}
.footer-fifth-text img {
  width: 36px;
  height: 36px;
}
/* footer section end */

/* responsive for mobile start */
@media screen and (max-width: 576px) {
  /* nav bar start */
  .nav-bar {
    margin-top: 13px;
    padding: 0 16px;
  }
  .nav-logo {
    width: 63px;
    height: 38px;
  }
  .nav-logo img {
    width: 100%;
    height: 100%;
  }
  .nav-item {
    display: none;
  }
  /* nav bar end */

  /* banner start */
  .banner {
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 28px;
    gap: 28px;
  }
  .banner .banner-content {
    width: 100%;
    padding: 0 16px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-title .extra-color {
    font-size: 1.5rem;
  }
  .banner-content .banner-desription {
    font-size: 0.875rem;
  }
  .banner .banner-img {
    width: 100%;
  }
  .banner .banner-img img {
    width: 100%;
  }
  /* banner end */

  /* plants section start */
  .plant {
    margin: 50px 0;
  }
  .plants-content {
    text-align: center;
  }
  .plants-content-title {
    font-size: 24px;
  }
  .plants-content-title .extra-color {
    font-size: 24px;
  }
  .plants-description {
    font-size: 14px;
    width: 336px;
  }
  .plants-images {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    padding: 0 14px;
    border: 3px solid orange;
  }
  .plants-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plants-one .images {
    height: 196.5px;
    width: 100%;
    border: 3px solid black;
  }
  .plants-one .images img {
    width: 100%;
    height: 100%;
  }
  .plants-images .plants-title {
    font-size: 16px;
    padding-top: 30px;
  }
  .plants-images .plants-price {
    font-size: 16px;
    padding-top: 10px;
  }
  .plants-images .btn {
    display: flex;
    height: 50px;
    padding: 26px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #e95a08;
    margin-top: 30px;
  }
  .plants-images button {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: #e95a08;
  }
  /* plants section end */

  /* flower aad plants section start */
  .flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 0 17px;
  }
  .flower-image {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .flower-image .trusted {
    display: none;
  }
  .flower-text {
    width: 100%;
  }
  .flower-text-title {
    font-size: 24px;
  }
  .flower-text-ul {
    font-size: 14px;
    padding-top: 20px;
    margin-left: 20px;
  }
  /* flower and plants sectin end */

  /* latest section start */
  .latest-images {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    gap: 20px;
    position: relative;
  }
  .latest-images img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .img-text .par {
    font-size: 16px;
  }

  /* latest section end */

  /* bunch section start */
  .bunch-text {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bunch-text {
    color: #fff;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 20px;
    font-weight: 700;
  }
  .bunch-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 23px;
  }
  .bunch-input input {
    width: 218px;
    height: 50px;
    padding: 8px 20px;
    border: none;
  }
  .bunch-input button {
    width: 103px;
    height: 50px;
    background: #e95a08;
    border: none;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
  }
  .bunch-text .bunch-text-title {
    font-size: 20px;
  }
  /* bunch section end */

  /* footer section start */
  .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .footer-first-text img {
    width: 180px;
    height: 109px;
  }
  .footer-first-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .footer-fifth-text {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
  /* footer section end */
}
/* responsive for mobile end */
