@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar section start */

.navbar{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.logo-part{
    display: flex;
    align-items: center;
    width: 50%;
}
.logo-part img{
    width: 80px;
}
.logo-part .logo-text{
    font-size: 30px;
}
.items-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-content a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;

}

/* navbar section end */

/* explore travel section start */
.banner-section{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 100vh;
    margin: 30px auto;
}
.banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-content p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}
.input-btn{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-top: 48px;
}
.input-text .text{
    width: 170px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    margin-right: 15px;
    padding: 16px 84px 16px 16px;
}
.btn{
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 16px 34px 16px 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* explore travel section end */

/* tour section start */
.tour{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 80px;
}
.tour-content{
    display: flex;
    gap: 20px;
}
.tour-text{
    width: 50%;
}
.tour-text h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.tour-text .tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.tour-img{
    width: 50%;
}
.tour-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tour-description{
    margin-top: 15px;
    padding: 0px 25px 0px 0px;
    line-height: 26px;
}
.tour-items{
    line-height: 25px;
    padding: 25px;
}
.items{
    margin-top: 16px;
    
}

.button-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    padding: 14px 30px;
    border: 0;
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
/* tour section end */

/* destination section start */

.destination{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
 }
 .dest-content{
    text-align: center;
 }
.dest-content .destination-description{
    margin-top: 24px;
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.img-box{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}
.img-1{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.img-2{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.img-3{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.img-4{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.img-5{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.img-6{
    grid-column: 1/span 5;
    grid: 3/span 1;
}
.img-7{
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}
.img-box img{
    width: 100%;
    height: 100%;
}
/* destination section end */

/* choose section start */
.choose{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}
.title-text{
    text-align: center;
}
.firs-box-text{
    display: flex;
    margin-top: 40px;
}
.firs-text{
    width: 50%;
    border: 2px solid red;
    background-color: #FBB56333;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
width: 573px;
height: 284px;
}
.firs-text .icon{
   padding-top: 30px;
    margin-left: 30px;
}
.second-text{
    width: 50%;
    background-color: #29CEF633;
}

/* choose section end */

/* newsletter section start */
.newsletter{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    margin-top: 100px;
    position: relative;
}
.newsletter-form{
border-radius: 16px;
border: 1px solid #FF5400;
width: 50%;
background: #FFF;
padding-bottom: 40px;

}
.newsletter-form h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 40px;
}
.newsletter-form .newsletter-title{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    margin-top: 10px;
    margin-left: 40px;
}
hr{
    width: 80%;
    margin-left: 40px;
    margin-top: 20px;
}
.contact{
    margin-top: 24px;
}
 .contact{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
 }
 .contact input{
    width: 400px;
    height: 52px;
    margin-left: 40px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    outline: 0;
    
 }
.newsletter-img{
    width: 50%;
}
.newsletter-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.save-up{
    width: 250px;
    height: 70px;
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    bottom: 6px;
    right: 100px;
    bottom: 39px;
    transform: rotate(-19.628deg);
    left: 78%;
}

/* newsletter section end */

/* footer section start */
    .footer-holiday{
        background: rgba(19, 19, 24, 0.05);
        margin-top: 110px;
    }
.footer-content-one{
    padding: 100px 300px 50px 300px;
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    margin-right: 20px;
    width: 50px;
}  
.footer-logo h2{
    text-align: center;
}
.footer-description{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}
.font-icon{
    font-size: 30px;
    margin-top: 30px;
}
.font-icon .fa-brands{
    padding: 15px;
}
.footer-content-two{
    text-align: center;
}
.footer-content-two h6{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-weight: 300;
padding-bottom: 50px;
}
/* footer section end */









@media screen and (max-width:600px) {

    .banner{
        width: 100%;
        background-position: center;
    }
    .banner-content h1{
        font-size: 30px;
    }
    .banner-content p{
        color: #FFF;
        font-size: 16px;
        margin-top: 24px;
        text-align: center;
    }
    .input-text .text, .btn{
        width: 70%;
        border: 0;
        margin-top: 10px;
        margin-left: 15%;
    }

    .tour-content{
        flex-direction: column;
        width: 100%;
        padding: 15px;
    }
    .tour-text h2{
        color: #131318;
        font-size: 30px;
        font-weight: 800;
    }
    .tour-text, .tour-img{
        width: 100%;
    }
    .button-btn{
        margin-bottom: 15px;
    }
    .newsletter{
        flex-direction: column;
    }
    .newsletter-form{
        width: 100%;
    }
    .newsletter-img{
        width: 100%;
    }
    .newsletter-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        padding: 10px;
    }
    .newsletter-form{
        border-radius: 16px;
        border: 1px solid #FF5400;
        width: 100%;
        background: #FFF;
        padding-bottom: 40px;
    }
    .footer-content-one{
        padding: 20px 30px;
    }
    
}